.u-center-text { text-align: center; }
.u-right-text { text-align: right; }

.u-margin-bottom-small { margin-bottom: 1rem; }
.u-margin-bottom-medum { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }
